@font-face {
    font-family: "Helvetica LT Std Compressed";
    src: url("fonts/HelveticaLTStd-Comp.woff"), url("fonts/HelveticaLTStd-Comp.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Helvetica LT Std Bold";
    src: url("fonts/HelveticaLTStd-Bold.woff"), url("fonts/HelveticaLTStd-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Helvetica LT Std Roman";
    src: url("fonts/HelveticaLTStd-Roman.woff"), url("fonts/HelveticaLTStd-Roman.ttf");
    font-display: swap;
}

@font-face {
    font-family: "ITC Garamond Std Bold";
    src: url("fonts/ITCGaramondStd-Bd.woff"), url("fonts/ITCGaramondStd-Bd.ttf");
    font-display: swap;
}

@font-face {
    font-family: "ITC Garamond Std Book";
    src: url("fonts/ITCGaramondStd-Bk.woff"), url("fonts/ITCGaramondStd-Bk.ttf");
    font-display: swap;
}

html {
    font-size: 10px;
}

body {
    --primary: #d57f1e;
    --foreground: #ffffff;
    --background: #000000;

    --title-size: 17vw;
    --title-mark-size: calc(var(--title-size) / 1.25);

    background: var(--background);
    padding: 3rem;
}

div.header-container {
    width: 100%;
}

div.date-place-container {}

h1 {
    font-family: "Helvetica LT Std Compressed", Arial, sans-serif;
    color: var(--primary);
    font-size: var(--title-size);
    font-weight: unset;
    line-height: 0.9;
}

h1 > mark {
    font-size: var(--title-mark-size);
    font-weight: unset;
    display: block;

}

mark {
    background-color: transparent;
}

mark.foreground {
    color: var(--foreground);
}

mark.primary {
    color: var(--primary);
}

p {
    font-family: "Helvetica LT Std Bold", Arial, sans-serif;
    color: var(--foreground);
    font-size: 5rem;
}

p.date {
    font-size: 6.1vw;
    margin-bottom: 0.5vw;
}

p.place {
    font-family: "Helvetica LT Std Roman", Arial, sans-serif;
    font-size: 5.5vw;
    margin-top: 0.5vw;
}

.social-icon > svg {
    width: 7vw;
    height: 7vw;
}

.social-icon-container {
    display: flex;
}

h3.mission {
    font-family: "Helvetica LT Std Bold";
    font-size: 9vw;
    color: var(--foreground);
}

div.social-icon-container > a.social-icon:not(:first-child) {
    margin-left: 2vw;
}

div.logo-container {
    display: flex;
}

.logo {
    width: 15vw;
    height: 15vw;
}

.hide-on-mobile {
    display: none;
}

p.text {
    font-family: "ITC Garamond Std Book", serif;
    font-size: 7vw;
}

p.text > strong {
    font-family: "ITC Garamond Std Bold";
}

div.text-container > p.text:nth-child(1) {
    margin-top: 1vw;
}

div.entry {
    height: 100vh;
}

/* desktop */
@media only screen and (min-width: 768px) {
    body {
        max-width: 970px;
    }

    body {
        --title-size: 10rem;
    }

    .logo {
        width: 10rem;
        height: 10rem;
    }

    .date {
        font-size: 4rem!important;
    }

    .place {
        font-size: 3rem!important;
    }

    .social-icon > svg {
        width: 4.5rem!important;
        height: 4.5rem!important;
    }

    h3.mission {
        font-size: 6rem!important;
    }

    p.text {
        font-family: "ITC Garamond Std Book", serif;
        font-size: 4rem!important;
    }

    div.social-icon-container > a.social-icon:not(:first-child) {
        margin-left: 1.5rem!important;
    }
}
